h1 {
    color: #00FFFF ;
    font-family:tahoma ;
   }
  
  h2{
    color:#66FF00 ;
      font-family:tahoma ;
  }
  
  body {
    background: #AA0000;
  } 


  button {
    background-color: #e9967a;
  }
    
    
  a {
   text-decoration: none;
  }