body {
    background-color: #ff0000;
}

h1 {
    color: #7fff00;
}

p {
    color: #ffffff;
}

button {
    background-color: #00ffff;
    margin-left: 6px; 
    margin-right:6px;
    margin-bottom: 6px;
    margin-top: 6px;
}

a {
    text-decoration: none;
}

.profile {
    height: auto;
    width: 125px;
    border-radius: 90px;
    border: #6a6a6a solid 3px;
    margin: auto;
  }

/*Projects css*/

  .pro-shortbio {
    color: #00ffff;
    text-decoration: underline;
  }

  .pro-name {
    color: #ff8c00;
  }